In [ ]:
# VIABILITY OF THE INDIAN ECONOMY FOR START_UP BUSINESSES , A FUNDIND ANALYSIS - 2018-2021

BUSINESS UNDERSTANDING

BACKGROUND : India has emerged as one of the most dynamic startup ecosystem attracting significant investment and fostering innovation accross various sectors. As our team plans to venture into this market, it is crucial to understand the key trends , investor patterns and sector specific insights to make informed strategic decisions.


KEY OBJECTIVE OF THE PROJECT : The main objective is to comprehensively analyze the Indian Startup Ecosystem from 2018 to 2021, identify key trends and insights and provide data driven recommendations for strategic entry and investment opportunities in the indian economy for  startup businesses.


Hypothesis

Null Hypothesis(H0):
There is no signficant difference in the average funding amounts received across different sectors within the Indian startup ecosystem from 2018 to 2021.

Alternative Hypothesis(H1):
There is a significant difference in the average funding amounts received across different sectors within the Indian startup ecosystem from 2018 to 2021

Key Research Questions
1. How has the total amount of funding received by start-ups in India changed from 2018-2021?
2. Which sectors have received the most funding in each year?
3. Who are the top investors in the India start-up ecosystem from 2018-2021?
4. Which regions or cities in India are receiving the most start-up funding?
5. Does the stage align with the investment timeline?
6. How long has the company been operating and how doeas this affect the amount of investment?

DATA UNDERSTANDING

In [153]:
import pandas as pd

In [154]:
from dotenv import dotenv_values  #import dotenv_values package from dotenv
import pandas as pd
import warnings
import pyodbc
warnings.filterwarnings('ignore')

server="dap-projects-database.database.windows.net"
Login="LP1_learner"
password="Hyp0th3s!$T3$t!ng"
database="dapDB"

In [155]:
environment_variables = dotenv_values('.env')
# Get the values for the credentials you aet in the '.env' file
database = environment_variables.get("database")
server = environment_variables.get("server")
login = environment_variables.get("Login")
password = environment_variables.get("password")
database = environment_variables.get("database")

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password}"

In [156]:
connection = pyodbc.connect(connection_string)

# What tables are in the DB
db_query = '''SELECT *
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE' '''

In [157]:
db_query = ''' SELECT * FROM dbo.LP1_startup_funding2020'''

data_2020 = pd.read_sql(db_query, connection)
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [158]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [159]:
data_2020.shape

(1055, 10)

In [160]:
db_query = ''' SELECT * FROM dbo.LP1_startup_funding2021'''

data_2021 = pd.read_sql(db_query, connection)
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [161]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [162]:
data_2021.shape

(1209, 9)

In [163]:
data_2019 = pd.read_csv(r"C://Users//GAMING//Desktop//DATA ANALYTICS//AZUBI AFRICA- Data Analytics//CARREER ACELERATOR//PROJECT 1//startup_funding2019.csv")

data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [164]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [165]:
data_2019.shape

(89, 9)

In [166]:
data_2018 = pd.read_csv(r"C:\Users\GAMING\Desktop\DATA ANALYTICS\AZUBI AFRICA- Data Analytics\CARREER ACELERATOR\PROJECT 1\startup_funding2018.csv")

data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [167]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [168]:
data_2018.shape

(526, 6)

In [169]:
# Data Manipulation

In [170]:
# Renaming Columns for Consistency

In [207]:
# Rename Columns for 2020 and 2021 datasets

data_2020.rename(columns={
    'Company_Brand' : 'Company',
    'What_it_does' : 'What it does',
    'Amount' : 'Amount($)'
    }, inplace=True)

data_2021.rename(columns={
    'Company_Brand' : 'Company',
    'What_it_does' : 'What it does',
    'Amount' : 'Amount($)'
}, inplace=True)

In [172]:
data_2021.columns

Index(['Company', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [201]:
data_2020.columns

Index(['Company', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage', 'column10', 'year'],
      dtype='object')

In [208]:
# Renmme columsn for 2018 and 2019n datasets

data_2018.rename(columns={
    'Company Name' : 'Company',
    'Industry' : 'Sector',
    'Round/Series' : 'Stage',
    'Amount' : 'Amount($)',
    'Location' : 'HeadQuater',
    'About Company' : 'What it does'
}, inplace=True)

data_2019.rename(columns={
    'Company/Brand' : 'Company'
}, inplace=True)

In [189]:
data_2019.columns

Index(['Company', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage', 'year'],
      dtype='object')

In [209]:
data_2018.head()

,Company,Sector,Stage,Amount($),HeadQuater,What it does,year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [187]:
data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company', 'year'],
      dtype='object')

In [178]:
# Convert 2020 and 2021 dataframes into csv file formant for standardization

In [202]:
# Convert the Dataframes into CSV files
data_2020.to_csv('df_2020.csv', index=False)
data_2021.to_csv('df_2021.csv', index=False)

In [203]:
# Read the CSV files
data_2018 = pd.read_csv(r'C:\Users\GAMING\Desktop\DATA ANALYTICS\AZUBI AFRICA- Data Analytics\CARREER ACELERATOR\PROJECT 1\startup_funding2018.csv')
data_2019 = pd.read_csv(r'C:\Users\GAMING\Desktop\DATA ANALYTICS\AZUBI AFRICA- Data Analytics\CARREER ACELERATOR\PROJECT 1\startup_funding2019.csv')
data_2020 = pd.read_csv('df_2020.csv')
data_2021 = pd.read_csv('df_2021.csv')

In [204]:
# Add the 'year' column to each Dataframe

data_2018['year'] = 2018
data_2019['year'] = 2019
data_2020['year'] = 2020
data_2021['year'] = 2021

# Convert the DataFrames to CSV fils

data_2018.to_csv('df_2018_with_year.csv', index=False)
data_2019.to_csv('df_2019_with_year.csv', index=False)
data_2020.to_csv('df_2020_with_year.csv', index=False)
data_2021.to_csv('df_2021_with_year.csv', index=False)

In [205]:
# Define a fixed conversion rate for INR  to USD 
INR_TO_USD = 0.015


def convert_amount(amount):
    # Ensure that amount is all string as the replace function does not apply on float objects 

    # Check if the amount is already a float. If it is return it as it is.
    if isinstance(amount, float):
        return amount
    
    # Proceed to with amounts in string  form in order to apply replace function

    # Ensure the amount is a string and remove commas and whitespace
    amount_str = str(amount).replace(',', '').strip()
    
    try:
        # Check if the string starts with $ or ₹
        if amount_str.startswith('$'):
            return float(amount_str.replace('$', ''))
        elif amount_str.startswith('₹'):
            # Convert INR to USD using the fixed rate
            amount_inr = float(amount_str.replace('₹', ''))
            amount_usd = amount_inr * INR_TO_USD
            return amount_usd
        else:
            # Handle scientific notation and plain numbers
            return float(amount_str)
    except ValueError:
        # Handle any conversion errors (e.g., malformed strings)
        return None

In [210]:
data_2018.head()

,Company,Sector,Stage,Amount($),HeadQuater,What it does,year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [211]:
# Applying conversion amounts

# Apply conversion to the 'Amount($)' column for all datasets
data_2018['Amount($)'] = data_2018['Amount($)'].apply(convert_amount)
data_2019['Amount($)'] = data_2019['Amount($)'].apply(convert_amount)
data_2020['Amount($)'] = data_2020['Amount($)'].apply(convert_amount)
data_2021['Amount($)'] = data_2021['Amount($)'].apply(convert_amount)

In [212]:
# Concatenate the datasets

final_data = pd.concat([data_2021, data_2020, data_2019, data_2018],ignore_index=True)

# Save the Fina_data as a csv file
final_data.to_csv('final_data_with_year.csv', index=False)

In [213]:
final_data.columns

Index(['Company', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage', 'year', 'column10',
       'HeadQuater'],
      dtype='object')

In [214]:
final_data.head()

,Company,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,year,column10,HeadQuater
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000.0,Pre-series A,2021,NaN,NaN
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,NaN,2021,NaN,NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000.0,Series D,2021,NaN,NaN
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000.0,Series C,2021,NaN,NaN
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000.0,Seed,2021,NaN,NaN

In [215]:
final_data.tail()

,Company,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,year,column10,HeadQuater
2874,Udaan,NaN,NaN,"B2B, Business Development, Internet, Marketplace","Udaan is a B2B trade platform, designed specif...",NaN,NaN,225000000.0,Series C,2018,NaN,"Bangalore, Karnataka, India"
2875,Happyeasygo Group,NaN,NaN,"Tourism, Travel",HappyEasyGo is an online travel domain.,NaN,NaN,NaN,Series A,2018,NaN,"Haryana, Haryana, India"
2876,Mombay,NaN,NaN,"Food and Beverage, Food Delivery, Internet",Mombay is a unique opportunity for housewives ...,NaN,NaN,7500.0,Seed,2018,NaN,"Mumbai, Maharashtra, India"
2877,Droni Tech,NaN,NaN,Information Technology,Droni Tech manufacture UAVs and develop softwa...,NaN,NaN,525000.0,Seed,2018,NaN,"Mumbai, Maharashtra, India"
2878,Netmeds,NaN,NaN,"Biotechnology, Health Care, Pharmaceutical",Welcome to India's most convenient pharmacy!,NaN,NaN,35000000.0,Series C,2018,NaN,"Chennai, Tamil Nadu, India"

In [216]:
# Exploratory Data Analysis

In [217]:
# Determining the shape of the final_data

final_data.shape

(2879, 12)

In [218]:
# Determining the null values

final_data.isna().any()

Company         False
Founded          True
HeadQuarter      True
Sector           True
What it does    False
Founders         True
Investor         True
Amount($)        True
Stage            True
year            False
column10         True
HeadQuater       True
dtype: bool

In [219]:
# Determining the null values

final_data.isna().sum()

Company            0
Founded          769
HeadQuarter      640
Sector            18
What it does       0
Founders         545
Investor         626
Amount($)        567
Stage            938
year               0
column10        2877
HeadQuater      2353
dtype: int64